.first-line {
    @include flex-s;
    @include c6;
    & > div {
        @include flex-s;
        width: 33%;
        & > div {
            text-align: center;
            .number {
                @include c3;
                margin: 14px 0;
                font-size: 30px;
            }
        }
    }
}
.item-count {
    margin-top: 80px;
    .fliter-div {
        .blue {
            margin-left: 20px;
            cursor: pointer;
        }
        .date-picker {
            margin-top: 20px;
            span {
                margin: 0 10px;
            }
        }
    }
}
